<div data-role="page" id="indexpage">
  <div data-role="header">
    <h1>Welcome To Highlight Mapper!</h1>
  </div>
  <div data-role="content">
<blockquote>
This app allows you to create an assignment that consists of a passage and a prompt. The prompt should tell the students what you want them to highlight from the passage.  
<p>
After you have created your assignment ask your students to naviage to the url shown. When they highlight text you will see a heatmap representing your classes highligthing.
</blockquote>
<h3 align=center>
<%= link_to "<button>Create an Assignment</button".html_safe, new_passage_path %>
</h3>
